<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Food-Ordering-App</title>
	<link rel="stylesheet" type="text/css" href="css/customerNav.css">
	<link rel="stylesheet" type="text/css" href="css/cards.css">
	<!--Font Awesome CDN File-->
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!--Bootstrap 4 CDN Files-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: black;">
		<div class="container">
			<a class="navbar-brand" href="#">Food-Ordering-App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon" style="
    border-color: white !important;
    background-color: white;
"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Contact">Contact</a>
					</li>
					{{#if Customer}}
					<li class="nav-item">
						<a class="nav-link" href="ViewProfile">{{Customer}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="ViewOrderStatus">OrderStatus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="logout"><i class="fa fa-power-off header-icon "></i>Logout</a>
					</li>
					{{else}}
					<li class="nav-item">
						<a class="nav-link" href="Customer-login"><i class="fa fa-sign-in header-icon"></i>SignIn</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Customer-Register"><i
								class="fa fa-user-plus header-icon"></i>SignUp</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="admin-login"><i class="fa fa-lock header-icon"></i>ADMIN</a>
					</li>
					{{/if}}
					<li class="nav-item">
						<a class="nav-link cart" href="cartItems"><i
								class="fa fa-shopping-cart footer-icon fa-2x"></i><span
								class="badge badge-pill badge-danger">{{cartcount}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	{{{body}}}




	<!--JS Files-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
</body>

</html>