<div class="container" style="margin-top: 6%">
	<h1 style="text-align: center;">Contact Us</h1>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.75591776957!2d75.8612890149132!3d22.700128485117286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fce4fe941631%3A0xdb309e3346413176!2sBhawarkua%20Main%20Rd%2C%20Indrapuri%20Colony%2C%20Bhanwar%20Kuwa%2C%20Indore%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1567503196625!5m2!1sen!2sin"
				width="500" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6">
			<h6 style="color: orange"> Address : </h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

			<h6 style="color: orange; margin-top: 10%"> Contact No : </h6>
			<p style="color: black">+91 6345275789</p>

			<h6 style="color: orange; margin-top: 10%"> Email Id : </h6>
			<p style="color: black !important">adcdef@food-product-app.com</p>

			<h6 style="color: orange; margin-top: 10%"> Fax : </h6>
			<p style="color: black">+91 212 999 8888</p>
			<p style="color: black">+44 (161) 999 8888</p>
		</div>
	</div>
</div>
<br><br><br>
<!--Footer-->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-md-12">
				<h3 style="color: yellow; letter-spacing:2px;" id="h3">Food-Ordering-App</h3><br>
				<p>
					Online Food Oredering Service<br>
					Rady To Serve All 24 Hours<br>
					Eat Healthy Live Healthy<br>
				</p>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 text-center">
				<h4 style="color: lightgreen" class="h4">Visit Us</h4><br>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="About">About</a></li>
					<li><a href="Contact">Contact</a></li>
					<li><a href="http://shubhamgupta98.me">Portfolio</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6 col-md-6 text-center">
				<h4 class="h4" style="color:lightblue">Follow Us</h4><br>
				<a href="#" class="twitter"><i class="fa fa-twitter-square fa-2x footer-icon"></i></a>
				<a href="#" class="facebook"><i class="fa fa-facebook-square fa-2x footer-icon"></i></a>
				<a href="#" class="instagram"><i class="fa fa-instagram fa-2x footer-icon"></i></a>
				<a href="#" class="linkedin"><i class="fa fa-linkedin-square fa-2x footer-icon"></i></a>
			</div>
		</div>
	</div>
	<p class="text-muted" style="padding-left:200px;">Copyright &copy; <a href="http://shubhamgupta98.me"
			target="_blank">Shubham Gupta</a></p>
</footer>