body{
	/*background-image: url(img/bg.jpg);
	background-size: cover;*/
	background-color: white;
}

.fa-2x{
	font-size: 2em;
}

.fa{
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.main-menu:hover , nav.main-menu.expanded{
	width: 250px;
	overflow: visible;
}

.main-menu{
	background: #212121;
	border-right: 1px solid white;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 60px;
	overflow: hidden;
	transition: width 0.5s linear;
	z-index: 1000;
	-webkit-transform: translateZ(0) scale(1,1);
}

.main-menu > ul{
	margin: 7px 0;
	list-style: none;
}

.main-menu > li{
	position: relative;
	display: block;
	width: 250px;
}

.main-menu li a{
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1,1);
	transition: all .1s linear;
}

.main-menu .nav-icon{
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px; 
}

.main-menu .nav-text{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	font-family: tahoma;
}

.main-menu ul.logout{
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover{
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover{
	overflow-y: auto;
	overflow: visible;
}

a:hover,a:focus{
	text-decoration: none;
}

nav{
	user-select: none;
}

nav ul,nav li{
	outline: 0;
	margin: 0;
	padding: 0;
}

.main-menu li:hover a,
.nav.main-menu li:active a,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a{
	color: white;
	background-color: #5fa2db;
}

.area{
	float: left;
	background: #e2e2e2;
	width:100%;
}

.Admin{
	color: white; 
	background-color: #212121; 
	margin-top: -8px; 
	width: 100%; 
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px; 

}

.content{
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}

.header{
	font-family: arial;
	font-style: arial;
}

.block{
	height: 92vh;
	display: block;
	overflow: scroll;
}

.blockview{
	height: 80vh;
	display: block;
	overflow: scroll;
}

.block-add{
	height: 92vh;
	display: block;
	overflow: hidden;
}

.block-user-table{
	height: 90vh;
	display: block;
	overflow: scroll;
}